$width-content: 800px;
$color-primary: #3E8EBB;
$button-hover-type: 'darken';
$button-hover-amount: 10%;

$color-green: #36BA9B;
$color-blue: #39AED9;
$color-yellow: #F5B946;
$color-red: #D94352;
$color-orange: #F4645F;

$theme-colors: () !default;
$theme-colors: map_merge(
                    (
                        "green": $color-green,
                        "blue": $color-blue,
                        "yellow": $color-yellow,
                        "red": $color-red,
                        "orange": $color-orange,
                    ), $theme-colors
);


@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}